/src/Api.Data.Test/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/src/Api.Data.Test/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
/src/Api.Data.Test/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Api.Data.Test/bin/Debug/net7.0/Api.Data.Test.deps.json
/src/Api.Data.Test/bin/Debug/net7.0/Api.Data.Test.dll
/src/Api.Data.Test/bin/Debug/net7.0/Api.Data.Test.pdb
/src/Api.Data.Test/bin/Debug/net7.0/Api.Data.Test.runtimeconfig.json
/src/Api.Data.Test/bin/Debug/net7.0/AutoMapper.dll
/src/Api.Data.Test/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/src/Api.Data.Test/bin/Debug/net7.0/CoverletSourceRootsMapping
/src/Api.Data.Test/bin/Debug/net7.0/CrossCutting.dll
/src/Api.Data.Test/bin/Debug/net7.0/CrossCutting.pdb
/src/Api.Data.Test/bin/Debug/net7.0/Data.dll
/src/Api.Data.Test/bin/Debug/net7.0/Data.pdb
/src/Api.Data.Test/bin/Debug/net7.0/Domain.dll
/src/Api.Data.Test/bin/Debug/net7.0/Domain.pdb
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.Extensions.Caching.Abstractions.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.Extensions.Caching.Memory.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Abstractions.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.Identity.Client.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/src/Api.Data.Test/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
/src/Api.Data.Test/bin/Debug/net7.0/MySqlConnector.dll
/src/Api.Data.Test/bin/Debug/net7.0/Newtonsoft.Json.dll
/src/Api.Data.Test/bin/Debug/net7.0/NuGet.Frameworks.dll
/src/Api.Data.Test/bin/Debug/net7.0/Pomelo.EntityFrameworkCore.MySql.dll
/src/Api.Data.Test/bin/Debug/net7.0/Service.dll
/src/Api.Data.Test/bin/Debug/net7.0/Service.pdb
/src/Api.Data.Test/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
/src/Api.Data.Test/bin/Debug/net7.0/System.Drawing.Common.dll
/src/Api.Data.Test/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
/src/Api.Data.Test/bin/Debug/net7.0/System.Runtime.Caching.dll
/src/Api.Data.Test/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
/src/Api.Data.Test/bin/Debug/net7.0/System.Security.Permissions.dll
/src/Api.Data.Test/bin/Debug/net7.0/System.Windows.Extensions.dll
/src/Api.Data.Test/bin/Debug/net7.0/testhost.dll
/src/Api.Data.Test/bin/Debug/net7.0/xunit.abstractions.dll
/src/Api.Data.Test/bin/Debug/net7.0/xunit.assert.dll
/src/Api.Data.Test/bin/Debug/net7.0/xunit.core.dll
/src/Api.Data.Test/bin/Debug/net7.0/xunit.execution.dotnet.dll
/src/Api.Data.Test/bin/Debug/net7.0/xunit.runner.reporters.netcoreapp10.dll
/src/Api.Data.Test/bin/Debug/net7.0/xunit.runner.utility.netcoreapp10.dll
/src/Api.Data.Test/bin/Debug/net7.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
